@model ASPdotNET_VSforMac_MVC_Cs_NetNote.Models.Note

<div class="row">
    @if (Model == null)
    {
        <form method="post" asp-action="Detail">
            <div class="form-group">
                <label asp-for="Password"></label>
                <input asp-for="Password" type="password" placeholder="請輸入密碼" class="form-control" />
            </div>
            <p>
                <button type="submit" class="btn text-center">查看</button>
            </p>
        </form>
    }
    else
    {
        <h3> @Model.Title</h3>
        <h5>類型：@Model.Type.Name</h5>
        <div class="content">@Model.Content</div>
        if (!string.IsNullOrEmpty(Model.Attachment))
        {
            <a href="@Model.Attachment">下載</a>
        }
    }
</div>
